*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav .catenav{
    padding: 20px 0;
    background: #ffff00;
    width: 100%;
    min-height: 1rem;
    position: relative;
}
ul{
font-size: large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
